<!-- Font (you can remove this if you don't need it) -->
<link
  href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap"
  rel="stylesheet"
/>
<!-- CSS Reset (recommended to have this on your code) -->
<link
  href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css"
  rel="stylesheet"
/>
<style>
  :root {
    --primary: #425ae1;
    --primary-contrast: #fff;
  }
  body {
    font-family: 'Raleway', sans-serif;
  }
  h1 {
    font-size: 26px;
    font-weight: 800;
  }
  p {
    margin: 1rem 0;
  }
  .banner-container {
    position: relative;
    border-radius: 8px;
    margin: 0.5rem;
    padding: 1.5rem;
    background-color: var(--primary);
  }
  .banner-title {
    text-align: center;
    color: var(--primary-contrast);
  }
</style>
<div class="banner-container">
  <div>
    <!-- Change title here -->
    <h1 class="banner-title">Get a 30% discount on your yearly plan today</h1>
  </div>
</div>
<script>
   // Put your javascript code here
</script>
