<!-- Font (you can remove this if you don't need it) -->
<link
  href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap"
  rel="stylesheet"
/>
<!-- CSS Reset (recommended to have this on your code) -->
<link
  href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css"
  rel="stylesheet"
/>
<style>
  :root {
    --primary: #425ae1;
    --primary-contrast: #fff;
  }
  body {
    font-family: 'Raleway', sans-serif;
  }
  h1 {
    font-size: 26px;
    font-weight: 800;
    margin: 1rem 0;
  }
  p {
    margin: 1rem 0;
  }
  .banner-container {
    position: relative;
    padding: 1rem;
    border-radius: 8px;
    background-color: #fff;
  }
  .banner-image {
    width: 100%;
    border-radius: 16px;
  }
  .primary-btn {
    background-color: var(--primary);
    color: var(--primary-contrast);
    padding: 0.5rem 1.5rem;
    font-size: 1.25rem;
    border: none;
    border-radius: 8px;
  }
</style>
<div class="banner-container">
  <div>
    <!-- Change title here -->
    <h1 class="banner-title">Up to 60%</h1>
    <!-- Put image here -->
    <img
      class="banner-image"
      src="https://img.freepik.com/premium-vector/ribbon-sale-badges-banners-price-tags-new-offers-collection-blue-vector-illustration-eps-10_638258-46.jpg"
      alt=""
    />
    <!-- Change description here -->
    <p>see today's discount on our prices!</p>
    <!-- Change button title here -->
    <button class="primary-btn" id="js-submit-btn">Let's go</button>
  </div>
</div>
<script>
  document.getElementById('js-submit-btn').addEventListener('click', () => {
    MetrixInAppApi.openUrl('https://metrix.ir');
  });
  // Put your javascript code here
</script>
